/*style.css*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url('https://raw.githubusercontent.com/h4hspace/Weekly-Books-Quiz/main/new%20backgroung%20for%20site.webp'); /* Background image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Adjusted for full viewport height coverage */
    width: 100vw;
}

input[type="text"], #name-input {
    padding: 10px;
    margin-top: 20px;
    width: calc(100% - 20px); /* For input */
    display: block; /* Added for #name-input */
    margin: 40px auto; /* Added for #name-input */
    font-size: 20px; /* Added for #name-input */
}

button, .choice, #start-btn, #submit-name-btn, #restart-btn { /* Consolidated button and choice styles */
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    padding: 40px;
    width: 100px;
    background-color: #b7b510;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.3s;
}

button:hover, .choice:hover, #start-btn:hover, #submit-name-btn:hover { /* Hover effects */
    background-color: #d4d4cec0;
}

#quiz-container, #welcome-screen {
    max-width: 300px;
    margin: 25px auto;
    padding: 10px;
    background-color: #faf9f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #000000; /* Ensure contrast is sufficient */
    font-size: 15px;
}

#question, #feedback, #progress, #timer {
    font-size: 10px; /* For question and feedback */
    margin-bottom: 10px; /* For question and feedback */
    margin-top: 20px; /* For progress and timer */
    font-size: 20px; /* For progress and timer */
}

#feedback {
    color: #d32f2f;
    font-weight: bold;
}

.hidden {
    display: none;
}
