/*style.css*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url('https://raw.githubusercontent.com/h4hspace/Weekly-Books-Quiz/main/new%20backgroung%20for%20site.webp'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100vw;
}
}

input[type="text"] {
    padding: 10px;
    margin-top: 20px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
#quiz-container, #welcome-screen {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #faf9f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
h1, h2 {
    color: #333;
    font-size: 30px;
        }
#question, #feedback {
    font-size: 15px;
    margin-bottom: 20px;
}
.choice, #start-btn, #submit-name-btn {
    display: block;
    margin: 40px auto;
    padding: 40px;
    width: 200px;
    background-color: #b7b510;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
        }
.choice:hover, #start-btn:hover, #submit-name-btn:hover {
    background-color: #d4d4cec0;
        }
#progress, #timer {
    margin-top: 40px;
    font-size: 36px;
        }
#feedback {
    color: #d32f2f;
    font-weight: bold;
        }
#name-input {
    margin: 40px auto;
    padding: 10px;
    width: 250px;
    display: block;
    font-size: 20px;
        }
#restart-btn {
    margin-top: 20px;
}

/* Add more styling as needed */

