/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/h4hspace/Weekly-Books-Quiz/main/new%20backgroung%20for%20site.webp'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

.choice {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choice:hover {
    background-color: #45a049;
}

#progress {
    margin-top: 20px;
}

#timer {
    margin-top: 20px;
    font-size: 18px;
    color: #d32f2f;
}

